<ion-segment color="primary" style="margin-bottom: 2rem;">
	<ion-segment-button *ngIf="!isPlaying" (click)="play()" value="play">
		<ion-icon style="font-size:5rem;" ios="ios-play" md="md-play"></ion-icon>
	</ion-segment-button>
	<ion-segment-button *ngIf="isPlaying" (click)="stop()" value="stop">
		<ion-icon style="font-size:5rem;" ios="ios-square" md="md-square"></ion-icon>
	</ion-segment-button>
</ion-segment>
<ion-list *ngIf="isPlaying">
	<ion-item>
		<ion-range min="{{minTimeRange}}" max="{{maxTimeRange}}" [(ngModel)]="audioTime" color="primary">
			<ion-label range-left>{{actualTime | date: 'mm:ss' }}</ion-label>
			<ion-label range-right>{{maxTime | date: 'mm:ss' }}</ion-label>
		</ion-range>
	</ion-item>
</ion-list>