<ion-header>
    <ion-navbar primary>
        <ion-title>{{item.name}}</ion-title>
        <ion-buttons end>
            <button (click)="dismiss()">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content style="margin-top: 2rem;">

    <ion-segment color="primary">
        <ion-segment-button>
            <ion-icon style="font-size:5rem;" (click)="play()" ios="ios-play" md="md-play"></ion-icon>
        </ion-segment-button>
        <ion-segment-button>
            <ion-icon style="font-size:5rem;" (click)="pause()" ios="ios-pause" md="md-pause"></ion-icon>
        </ion-segment-button>
        <ion-segment-button>
            <ion-icon style="font-size:5rem;" (click)="stop()" ios="ios-square" md="md-square"></ion-icon>
        </ion-segment-button>
    </ion-segment>

    <div class="row" text-center>
        <div class="col" style="font-size:3rem;">
            Time: {{audioTime}}
        </div>
    </div>
</ion-content>