<ion-header>
    <ion-navbar>
        <ion-item>
          <ion-label color="primary" floating>Nombre</ion-label>
          <ion-input type="submit" [(ngModel)]="nameFile"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Extensión</ion-label>
          <ion-select [(ngModel)]="selectedExtension">
            <ion-option *ngFor="let i of extensions" [value]="i.value">{{i.display}}</ion-option>
          </ion-select>
        </ion-item>
        
        <div class="row">
          <div class="col" text-center>
            <button ion-button icon-left (click)="startRecord()">
              <ion-icon name="microphone"></ion-icon>
              <span>Grabar</span>
            </button>
          </div>
        </div>
        
    </ion-navbar>
</ion-header>
<ion-content padding>

  <ion-list>

    <div class="row" *ngFor="let file of fileList" text-center>
      <div class="col" text-left>
        <ion-label style="font-size:2rem;" color="primary">{{file.name}}</ion-label>
      </div>

      <div class="col" text-center>
        <ion-icon style="font-size:3rem; margin-right: 2rem;" (click)="play(file)" ios="ios-play" md="md-play"></ion-icon>
      </div>
      
      <div class="col" text-right>
        <ion-icon style="font-size:3rem;" (click)="deleteFile(file)" ios="ios-trash" md="md-trash"></ion-icon>
      </div>
    </div>

  </ion-list>

</ion-content>
