<ion-header>
    <ion-navbar primary>
        <ion-title>{{nameFile}}</ion-title>
        <ion-buttons end>
            <button (click)="dismiss()">
                <ion-icon style="font-size:3rem;" name="close"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content style="margin-top: 2rem;">

    <ion-segment color="primary" style="margin-bottom: 2rem;">
        <ion-segment-button value="startRecord" (click)="playRecord()">
            <ion-icon style="font-size:5rem;" *ngIf="!recording" ios="ios-mic" md="md-mic"></ion-icon>
            <ion-icon style="font-size:5rem;" *ngIf="recording" ios="ios-mic-off" md="md-mic-off"></ion-icon>
        </ion-segment-button>
        <ion-segment-button *ngIf="stop" value="download" (click)="dismiss()">
            <ion-icon style="font-size:5rem;" ios="ios-download" md="md-download"></ion-icon>
        </ion-segment-button>
    </ion-segment>

    <ion-list *ngIf="recording">
        <ion-item text-center>
            <ion-label range-left>{{actualTime | date: 'mm:ss' }}</ion-label>
        </ion-item>
    </ion-list>

    <!--<audio-tools *ngIf="stop" [audioMedia]="audioMedia"></audio-tools>-->

</ion-content>